* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}


.banner {
    background-image: url(assets/images/slide1-01.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    top: -1px;
    z-index: 2;
    transition: .5s;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.navbar img {
    width: 8%;
    margin-left: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 50px;

}

.navbar ul a {
    color: rgb(223, 221, 221);
    text-decoration: none;
    transition: .4s;
}

.icon i {
    color: white;
    margin-right: 40px;
    font-size: 17px;
    transition: .4s;
}

.navbar ul a:hover {
    color: red;
}

.icon i:hover {
    color: red;
}

.navbar-content h1 {
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    color: white;
}

.main-contant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.navbar-content {
    text-align: center;
}

.navbar-content h1 {
    font-family: "Edu VIC WA NT Hand Pre", cursive;
}

.navbar-content h2 {
    margin-top: 20px;
    font-size: 90px;
    color: white;
    font-family: "Work Sans", sans-serif;
}

.navbar-content button {
    padding: 10px;
    margin-top: 30px;
    width: 22%;
    border-radius: 10px;
    color: red;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    border: none;
}

.navbar-content button:hover {
    background-color: rgb(253, 40, 40);
    color: white;
}

.italian-menu {
    display: flex;
    margin-top: 40px;
    /* justify-content: space-between; */
    text-align: center;
    gap: 200px;
}


.italian-menu-1 {
    width: 30%;
    height: 70vh;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
}

.italian-menu-1 h3 {
    font-family: "VIC WA NT Hand Pre", cursive;
    margin-top: 30px;
}

.italian-menu-1 p {
    font-family: "Edu VIC WA NT Hand Pre", cursive
}

.italian-menu-1 h2 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
}

/* mine */

.class-iamge {
    overflow: hidden;
    border-radius: 20px;
    border: 3px solid;
    overflow: hidden;
    height: 54vh;
    border: none;
}


.class-iamge img {
    width: 350px;
    object-fit: center center;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;
    padding-bottom: 30px;
}

.class-iamge:hover img {
    transform: scale(1.10);
}

.italian-menu-1 a {
    text-decoration: none;
    color: rgb(136, 135, 135);
    line-height: 70px;
    font-size: 20px;
}

.italian-menu-1 i {
    font-size: 14px;
}

.discover-image {
    background-image: url(assets/images/bg-intro-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.discover-content {
    color: white;
    text-align: center;
    font-size: 25px;
}

.discover-image h2 {
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    color: rgb(250, 47, 47);
}

.discover-image h1 {
    font-family: "Edu VIC WA NT Hand", cursive;
    margin-top: 20px;
}

.card-class {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    text-align: center;
}



.card-content1 img {
    width: 80%;
    margin-top: 40px;
    border-radius: 13px;
    object-fit: center center;
}

.card-content {
    display: flex;
    margin-top: 10px;
    line-height: 30px;
}

.card-content1 h2 {
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 15px;
    text-align: start;
    margin-left: 55px;
}

.card-content1 p {
    width: 70%;
    letter-spacing: 2px;
    margin: auto;
    font-size: 14px;
    /* text-align: start; */
}

.card-content1 a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(58, 57, 57);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
    letter-spacing: 1px;
}

.card-content1 i {
    font-size: 12px;
    color: rgb(58, 57, 57, );
}

/* card menu end */

.image-content {
    text-align: center;
    margin-top: 60px;
}

.image-content h2 {
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    color: rgb(250, 47, 47);
}

.image-content h1 {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.main-class-image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main-class-image img {
    width: 50vh;
    border-radius: 15px;
    margin: 10px;
    margin-left: 25px;
}

.grid-image img {
    width: 51vh;
}

.grid-image {
    display: grid;
}

.grid-image-2 {
    display: flex;
    text-align: center;
    padding: 10px;
    margin-left: 90px;
}

.inn{
    position: relative;
}

.inn img{
    width: 104%;
    transition: .5s ease;
    border-radius: 15px;
    margin-left: 63px;

}




.inn button {
    position: absolute;
    left: 50%;
    top: 40%;
    padding: 8px;
    width: 25%;
    transition: .5s;
    color: gray;
    background-color: white;
    border-color: white;
    letter-spacing: 2px;

}

.nd img {
    width: 57%;
    border-radius: 15px;
    z-index: -1;
    margin-right: 20px;
}


.image-class-2 img {
    width: 90%;
}

.event {
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
}

.event h2 {
    margin-top: 30px;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    color: red;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.event h1 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #fff;

}

.mein-event {
    background-image: url(assets/images/blog-01.jpg);
    background-position: center;
    align-items: center;
    justify-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 105vh;
}

.event-content p {
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}

.main-event-upper {
    display: flex;
    margin-top: 40px;
    border: 2px solid gray;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    height: 350px;
    justify-items: center;
}

.image-class-2nd img {
    width: 124%;
    height: auto;
    transition: .5s ease;
}

.image-class-2nd {
    border: 3px solid;
    border: none;
    object-fit: center center;
    overflow: hidden;
}

.image-class-2nd img:hover {
    transform: scale(1.10);
}




.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #e63946;
    padding: 20px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.event-content h3 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.numeric-content {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.numeric-content h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.numeric-content h1 {
    color: red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.date-input-container input {
    font-size: 18px;
    padding: 13px;
    border-radius: 10px;
    width: 130%;
}

.select-group select {
    font-size: 18px;
    padding: 13px;
    border-radius: 10px;
    width: 130%;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
}

.form-section {
    max-width: 700px;
}

.form-header {
    text-align: center;
    margin-bottom: 40px;
}

.form-header h3 {
    font-style: italic;
    color: #b80000;
    font-size: 24px;
}

.form-header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 5px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

.parent-div {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.child {
    flex: 1;
    min-width: 280px;
}

/* label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.child input,
select {
    width: 110%;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.btn-wrapper button {
    background-color: #000;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-wrapper button:hover {
    background-color: #333;
}


.booking-img {
    border: 3px solid;
    margin-top: 90px;
    border-radius: 13px;
    border: none;
    overflow: hidden;

}

.booking-img:hover img {
    transform: scale(1.10);
}

.booking-img img {
    width: 350px;
    border-radius: 10px;
    object-fit: cover;
    transition: .5s ease;
}

.say {
    text-align: center;
    margin-top: 50px;
}

.say h2 {
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    color: red;
}

.say h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    margin-top: 7px;

}

.say img {
    border-radius: 50%;
    width: 8%;
    margin-top: 50px;
}

.say p {
    width: 50%;
    margin: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.say i {
    color: #b80000;
    margin-top: 20px;
}

.say h3 {
    font-size: 12px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;

}

.main-secnt {
    background-image: url(assets/images/bg-cover-video-02.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    align-content: center;
}

.scent {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}

.scent h2 {
    margin-bottom: 20px;
    color: red;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-size: 25px;

}

.nonsay h1 {
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}

.link {
    text-align: center;


}

.link a {
    text-decoration: none;
    font-size: 35px;
    color: white;


}

.link a :hover {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    transition: 0.7s;
    color: #473030;

}

.lest-img p {
    width: 80%;
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.lest-img img {
    width: 75%;
    border-radius: 15px;

}


.min-lsat-div {
    display: flex;
    margin-left: 85px;
    padding-top: 40px;
}

.icn-class a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    transition: .5s;
}

.icn-class a:hover {
    color: red;
}

.icn-class {
    margin-top: 7px;
}

.co-class a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(136, 135, 135);
    transition: .5s;
}

.co-class a:hover {
    color: red;
}

/* .s-login {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.s-login label {

    padding: 10px;
}

.s-login input {
    width: 16%;
}

.bts-wrapper {
    text-align: center;
    margin-top: 30px;
}

.bts-wrapper button {
    background-color: #000;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
} 

.bts-wrapper button:hover {
    background-color: #333;
}*/


.main-footr {
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    background-color: black;
    color: gray;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}



.like-c h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    font-weight: 500;
}

.latest-tetr h3 {
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}

.footr-class h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 17px;
}

.footr-class h2 {
    font-weight: bold;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 1px;

}

.footr-class h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.footr-class i {
    font-size: 9px;
    letter-spacing: 1px;

}

.footr-class {
    line-height: 50px;
}



.twitter a {
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    color: red;
    letter-spacing: 2px;
}

.url-lnk a {
    color: red;
    text-decoration: none;
    font-size: 15px;
}

.footr-class2 p {
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.date-co h5 {
    color: gray;
    font-size: 15px;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

.dousra-pra p {
    width: 55%;
    padding-top: 10px;

    margin: auto;
}

.dousra-pra a {
    text-decoration: none;
    color: red;
    font-size: 15px;
}

.ib-lst h4 {
    font-weight: bold;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.gallery-box {
    display: inline-block;
    width: 70%;
    float: left;
    /* gap: 20px; */
    padding: 30px;

}

.gallery-box img {
    width: 80px;
    border-radius: 15px;
    margin: 5px;
}
